<!DOCTYPE html>
<html>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102750725-1', 'auto');
  ga('send', 'pageview');

</script>
<head>
    <title> CSUF Parking Prediciton </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!--  YOU NEED TO RELINK THESE IN PYTHON -->
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
    <link href="../static/index.css" rel="stylesheet">
</head>

<body>
    <div class='full'></div>
    <div class='fullerton'>
        <div class='cetre'>
            <div class='headingcontainer'>
                <h1>Titan<text class='darker'>Park</text></h1>
                <h2>smart parking, smarter campus</h2>
            </div>

            <div class='buttonscenter'>
                <a href="/student"><button>Student Parking Prediction</button></a>
            </div>
            <div class='poweredbottom'>
            </div>
        </div>
    </div>

</body>

</html>
